{% extends "base_main.html" %}
{% load static %}

{% block title %}
{{ network.ipv4_cidr }} - GrayIPAM
{% endblock %}


{% block content %}
<main class="container mt-3">
  <div class="row mb-3">
    <div class="col">
      <h2 class="mb-3">ネットワーク</h2>
      <ul class="list-group">
        <li class="list-group-item">名前 : {{ network.name }}</li>
        <li class="list-group-item">IPv4 : {{ network.ipv4_cidr }}</li>
        <li class="list-group-item">VLAN ID : {{ network.vid }}</li>
        <li class="list-group-item">メモ : {{ network.note }}</li>
      </ul>

      <div class="mt-3 mb-3">
        <h3>アドレス</h3>
        <div id="address-list" class="d-flex flex-wrap"></div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block script %}
<script src="{% static 'js/iputil.js' %}"></script>
<script>
  'use strict';
  const ipv4_str = '{{ network.ipv4_cidr }}';
  const ipv4_min = {{ network.ipv4_min }};
  const ipv4_max = {{ network.ipv4_max }};
  const prefix = {{ network.get_prefix }};

  const addrEle = document.getElementById('address-list');

  for (let i = ipv4_min+1; i < ipv4_max; i++) {
    const btn = document.createElement('button');
    btn.classList.add('addr','addr-none', 'btn', 'btn-sm', 'me-2', 'mb-2', 'disabled');
    btn.setAttribute('data-ip', long2ip(i));
    btn.textContent = long2hostip(i, prefix);
    addrEle.appendChild(btn);
  }

  document.querySelectorAll('.addr').forEach(ele => {
    if (ele.classList.contains('addr-none')) {
      ele.classList.add('btn-outline-dark');
      // ele.setAttribute('data-bs-toggle', 'modal');
      // ele.setAttribute('data-bs-target', '#hostRegistModal');
      //ele.addEventListener('click', clickHostRegister);
    }
    ele.classList.remove('disabled');
  });
</script>
{% endblock %}