{{ errors }}
{% if errors and not fields %}
  <p>{% for field in hidden_fields %}{{ field }}{% endfor %}</p>
{% endif %}

{% for field, errors in fields %}
<div class="mb-3 {% with classes=field.css_classes %}{% if classes %}{{ classes }}{% endif %}{% endwith %}">
  {% if field.label %}
    {{ field.label_tag }}
    {% if field.field.required %}<span class="text-danger">*</span>{% endif %}
  {% endif %}
  {% if field.widget.is_required %}*{% endif %}
  {{ field }}
  {% if field.help_text %}
  <span class="helptext">{{ field.help_text|safe }}</span>
  {% endif %}
  <div >
    {% for error in field.errors %}<div class="text-danger">{{ error }}</div>{% endfor %}
  </div>
    {% if forloop.last %}
      {% for field in hidden_fields %}{{ field }}{% endfor %}
    {% endif %}
</div>
{% endfor %}

{% if not fields and not errors %}
  {% for field in hidden_fields %}{{ field }}{% endfor %}
{% endif %}
